{% extends "layout.html" %}
{% block body %}
<div class="intro-header">

    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1>Alaska Tech Consulting</h1>
                    <h3>Web and Data Solutions</h3>
                    <h3>Anchorage, Alaska</h3>
                    <hr class="intro-divider">
                    <ul class="list-inline intro-social-buttons">
                        <li>
                            <a href="mailto:paulmoliva+aktech@gmail.com" class="btn btn-default btn-lg"><i class="fa fa-envelope fa-fw"></i> <span class="network-name">Email</span></a>
                        </li>
                        <li>
                            <a href="https://github.com/paulmoliva" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/paul-m-oliva-4a595b2a/" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.intro-header -->

<div class="content-section-a">

    <div class="container">

        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <div class="clearfix"></div>
                <h2 class="section-heading">Bringing the Cutting Edge to Anchorage</h2>
                <p class="lead">
                  Hi, I'm Paul Oliva, founder of Alaska Tech Consulting.
                  I've been making websites since I was a kid, when I created a simple page to post professional wrestling results for my freinds (the internet filters at my middle school blocked the other sites.)
                  I studied computer systems engineering at UAA, and then spent a year in Silicon Valley working for a data analytics start up. The pay was good and I learned a lot, but I eventually found myself missing Alaska's beautiful landscapes and great people.
                </p>
                <p class="lead">
                  When I got back to Anchorage, I noticed that most IT firms here aren't operating at maximum efficiency; in addition to using outdated, inefficient technology, their brick-and-mortar approach to IT creates large overheard costs that they pass on to you, the consumer.
                  My philosophy in business is to use the most up-to-date tech to get the job done right, and quickly, the first time. I don't have a large office or administrative staff to pay, so I can charge you less than the other guys and still make a buck.

                </p>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <img class="img-thumbnail" src="/static/img/paul_mtn.jpg" alt="">
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.content-section-a -->

<div class="content-section-b">

    <div class="container">

        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                <div class="clearfix"></div>
                <h2 class="section-heading">Custom programming to showcase your data</h2>
                <p class="lead">
                  Sometimes a simple website doesn't cut it. If you have unique data to display or access, Alaska Tech Consulting has the solution for you.
                </p>
                <p class="lead">
                  I specialize in creating custom maps, filterable tables, and searchable databases to help you showcase and access your data.
                </p>
            </div>
            <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                <img class="img-responsive" src="/static/img/mac_mockup.png" alt="">
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.content-section-b -->

<div class="content-section-a">

    <div class="container">

        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">
                  Custom web apps,
                  </br>
                  built just for you
                </h2>
                <p class="lead">
                  By utilizing modern web development techniques and frameworks, I can build a modern web app, complete with user authentication and database connections, and deliver on time for a cost that will leave you smiling.
                </p>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <img class="img-responsive" src="/static/img/code.png" alt="">
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.content-section-a -->
{% endblock %}
