{% extends 'layout.html' %}
{% block body %}
<div class="content-section-a" style="background-color: #121c4d">
  <div class="container">
    <div class="row">
        <div class="col-lg-5 col-sm-6">
          <div class="clearfix"></div>
          <blockquote style="color: whitesmoke"><h3>
            &#10077;Alaska Tech Consulting did a magnificent job with our recent project. They were very easy to work with as we hammered out the project requirements and showed us mock-ups to ensure we had the same understanding. The final result was delivered speedily and with great customer service and follow up. We are very pleased and will be looking to this organization for more work in the future. Highly recommend!&#10078;</br>
            ~Bethany Marcum </br>
            Director, Alaska Policy Forum
          </h3></blockquote>
        </div>
        <div class="col-lg-5 col-lg-offset-2 col-sm-6">
          <hr class="section-heading-spacer">
          <a href="http://alaskapolicyforum.org/AK_peaks/">
            <img class="img-thumbnail" src="/static/img/peaks_maps.png" alt="">
          </a>
        </div>
    </div>
  </div>
</div>

{% include 'contact-form.html' %}

{% endblock %}