{% extends 'layout.html' %}
{% block body %}
<div class="content-section-a" style="background-color: #121c4d">
  <div class="container">
    <div class="row">
        <div class="col-lg-5 col-sm-6">
          <div class="clearfix"></div>
          <blockquote style="color: whitesmoke"><h3>
            &#10077;Alaska Tech Consulting did a magnificent job with our recent project. They were very easy to work with as we hammered out the project requirements and showed us mock-ups to ensure we had the same understanding. The final result was delivered speedily and with great customer service and follow up. We are very pleased and will be looking to this organization for more work in the future. Highly recommend!&#10078;</br>
            ~Bethany Marcum </br>
            Director, Alaska Policy Forum
          </h3></blockquote>
        </div>
        <div class="col-lg-5 col-lg-offset-2 col-sm-6">
          <hr class="section-heading-spacer">
          <a href="http://alaskapolicyforum.org/anc_peaks/" target="_blank">
            <img class="img-thumbnail" src="/static/img/peaks_maps.png" alt="">
            <h3>Click to view project</h3>
          </a>
        </div>
    </div>
  </div>
</div>

<div class="content-section-a" style="background-color: #f7b512">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <div class="clearfix"></div>
                <h2 class="section-heading">Politicial Campaign Website</h2>
                <p class="lead">
                    Running for office? A professional website is a must-have these days! Alaska Tech Consulting is your go-to source for a great looking, easy to edit campaign webpage.
                </p>
                <p class="lead">
                    We've worked with multipe Alaska political candidates in the past. <a href="http://campaign.alaskatechconsulting.com" target="_blank">Click here</a> to view an example candidate page and see what Alaska Tech Consulting can do for you!
                </p>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <hr class="section-heading-spacer">
                <a href="http://campaign.alaskatechconsulting.com" target="_blank">
                  <img class="img-thumbnail" src="/static/img/campaign.png" alt="">
                  <h3>Click to view example page</h3>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="content-section-a" style="background-color: #121c4d; color: whitesmoke;">
  <div class="container">
    <div class="row">
        <div class="col-lg-5 col-sm-6">
          <div class="clearfix"></div>
          <div class="clearfix"></div>
          <h2 class="section-heading">Business/Nonprofit Website</h2>
          <p class="lead">
            A sleek, modern, easy to edit webpage is essential for any business or nonprofit. Connect with new clients and wow your existing ones!
          </p>
          <p class="lead">
            Once your webiste is set up, we train you to use the user-friendly interface to make updates yourself. Need a little more guidance? We have packages available to take care of the updates for you!
          </p>
        </div>
        <div class="col-lg-5 col-lg-offset-2 col-sm-6">
          <hr class="section-heading-spacer">
          <a href="http://anchoragefact.org" target="_blank">
            <img class="img-thumbnail" src="/static/img/afact.png" alt="">
            <h3>Click to view example page</h3>
          </a>
        </div>
    </div>
  </div>
</div>

{% include 'contact-form.html' %}

{% endblock %}