{% extends "layout.html" %}
{% block body %}

<div class="content-section-a">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <div class="clearfix"></div>
                <h2 class="section-heading">Custom Wordpress Website</h2>
                <p class="lead">
                    A high quality website is a must these days. Wordpress sites are easily editable and customizable. Get your name out there and wow your customers!
                </p>
                <p class="lead">
                    After your initial consultation, simply provide content for your page, and expect delivery in 1-2 weeks. We can also provide copywriting and editing of content for an additional fee.
                </p>
                <p class="lead">
                    <strong>Starting at $400</strong></br>
                    <strong>Delivery time: 1-2 weeks</strong>
                </p>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <hr class="section-heading-spacer">
                <img class="img-thumbnail" src="/static/img/afact.png" alt="">
            </div>
        </div>
    </div>
</div>

<div class="content-section-b">

    <div class="container">

        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                <div class="clearfix"></div>
                <h2 class="section-heading">Custom Data Display</h2>
                <p class="lead">
                  Sometimes a simple website doesn't cut it. If you have unique data to display or access, Alaska Tech Consulting has the solution for you.
                </p>
                <p class="lead">
                  I specialize in creating custom maps, filterable tables, and searchable databases to help you showcase and access your data.
                </p>
                <p class="lead">
                  <strong>
                      Starting at: $600<br/>
                      Delivery Time: 2-3 weeks
                  </strong>
                </p>
            </div>
            <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                <hr class="section-heading-spacer">
                <img class="img-responsive" src="/static/img/peaks_maps.png" alt="">
            </div>
        </div>

    </div>
    <!-- /.container -->
</div>

<div class="content-section-a">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <div class="clearfix"></div>
                <h2 class="section-heading">
                  Custom Web Application
                </h2>
                <p class="lead">
                  A modern web app, built to your specifications, complete with user authentication and database connections.
                </p>
                <p class="lead">
                  <strong>
                      Pricing and delivery time depends on complexity<br/>
                      <a href="/contact">Contact us</a> for a free consultation
                  </strong>
                </p>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <img class="img-responsive" src="/static/img/web_app.png" alt="">
            </div>
        </div>
    </div>
</div>

{% endblock %}
